@model IEnumerable<cpl_azure.Models.Pictures>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.url?width=80&amp;height=80">            
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.PictureId }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.PictureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureId })
        </td>
    </tr>
}

</table>
