@model IEnumerable<cpl_azure.Models.Pictures>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delete_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thumbnail_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.savedFileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delete_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thumbnail_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.savedFileName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PictureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PictureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureId })
        </td>
    </tr>
}

</table>
