@model cpl_azure.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>News</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Summary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        <!--@Html.DisplayFor(model => model.Content)-->
        @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
